<footer class="mt-5 bg-light pt-4">
    <div class="footer_container">
        
        <div class="footer_column">
            <h3>SERVICES</h3>
            <a href="#">Browse PGs</a>
            <a href="#">Add Property</a>
            <a href="#">Favourites</a>
            <a href="#">Support</a>
        </div>
        
        <div class="footer_column">
            <h3>USEFUL LINKS</h3>
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">FAQs</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
    <hr>
    <div class="text-center text-muted py-2">
        © 2025 www.EasyPG.com. All rights reserved.
    </div>
</footer>
