
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <% if(!isLoggedIn){ %>
    <a class="navbar-brand fw-bold text-white" href="/">
      <i class="bi bi-house-door-fill"></i> Home
    </a>
    <% }%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left Menu -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if(isLoggedIn){ %>
          <% if(user.userType=='user'){ %>
            <li class="nav-item">
              <a class="nav-link text-white" href="/user/home-list"> Home List</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/booking"> Booking</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/user/watchlist"> Favourites</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/host/add-home"> Add Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/host/home-list"> Host Homes</a>
            </li>
          <% } %>
        <% } %>
      </ul>

      <!-- Right Side -->
      <div class="d-flex align-items-center gap-3">
        <% if(!isLoggedIn){ %>
          <a class="btn btn-outline-light" href="/login">Login</a>
          <a class="btn btn-danger" href="/signup">Sign Up</a>
        <% } else { %>
          <form action="/logout" method="post" class="m-0">
            <button class="btn btn-warning">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>
</nav>
